.todo-list {
    border: 1px solid grey;
    padding: 10px;
    margin: 3px;
    font-weight: bold;
    color: rgb(245, 104, 127);
    width: 200px;
}

.todo-title {
    color:rgb(9, 9, 110);
    font-weight: 500;
    font-size: x-large;
    text-shadow: 0 -1px 0 rgb(241, 175, 175), 
            0 2px 0 rgb(241, 175, 175), 
            0 3px 0 rgb(9, 9, 110), 
            -2px -2px 15px rgb(241, 140, 180), 
            2px -2px 15px rgb(241, 140, 180), 
            -2px 2px 15px rgb(241, 140, 180), 
            2px 2px 15px rgb(241, 140, 180);
    
}

.todo-note {
    font-style: italic;
    font-weight: 400;
    color:rgb(8, 8, 8);
}