.side-effects {
  font-weight: 700;
  font-size: x-large;
}

.side-effects-button-value {
  background-color: rgb(129, 190, 170);
  width: 100px;
  height: 30px;
}

.side-effects-button-age {
  background-color: rgb(221, 213, 169);
  width: 100px;
  height: 30px;
}

.side-effects-button-value:hover {
  background-color: rgb(90, 224, 180);
}

.side-effects-button-age:hover {
  background-color: rgb(248, 212, 6);
}
