.faq-section {
  border: 1px solid lightgray;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: -6px 6px lightgray;
}

.question {
  font-weight: bold;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

.answer {
  padding-top: 10px;
}

.arrow-icon {
  margin: 7px 5px 0 0;
}

.arrow-icon-rotated {
  transform: rotate(-90deg);
}
