.todo-list {
    border: 1px solid grey;
    border-radius: 15px;
    box-shadow: 0 2px 2px grey;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    
}

.todo-lidt-header {
    color: rgb(245, 104, 127);
}

.todo-title {
    color:rgb(70, 70, 70);
    font-weight: 500;
    font-size: xx-large;
    letter-spacing: 2px;
    text-shadow: 0 -1px 0 rgb(247, 153, 169), 
            0 2px 0 rgb(247, 153, 169), 
            0 3px 0 rgb(70, 70, 70), 
            -2px -2px 15px rgb(245, 173, 185), 
            2px -2px 15px rgb(245, 173, 185), 
            -2px 2px 15px rgb(245, 173, 185), 
            2px 2px 15px rgb(245, 173, 185);
    
}

.todo-note {
    font-style: italic;
    font-weight: 400;
    color:rgb(8, 8, 8);
}



.todo-check-done{
    color:green;
   
}

.todo-done-date {
    color: grey;
    font-size: small;
}